/* ========================
    body
  ======================== */
body {
  position: relative;
}
/* ========================
    section - all
  ======================== */
section {
  margin: 0 auto 100px;
  border-bottom: 2px solid #31c5b9;
}

.section-title {
  margin-bottom: 100px;
  text-align: center;
  font-size: 50px;
}

main section:nth-child(3) {
  border-bottom: none;
}
/* ========================
    header
  ======================== */
header {
  z-index: 2;
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 30px;

  font-weight: bold;
  background-color: #fff;
  border-bottom: solid 1px #000000;
}

.header-title {
  font-size: 40px;
}

nav {
  height: 40px;
  font-size: 20px;
  display: inline-block;
}

nav ul {
  display: flex;
}

nav ul li {
  margin-left: 80px;
}

nav a {
  line-height: 40px;
  color: #000000;
}

/* header - navigation */

/* ========================
    first-view
  ======================== */
.first-view img {
  width: 100%;
  opacity: 0.9;
}

.first-view {
  position: relative;
  margin-bottom: 100px;
}

.first-title {
  z-index: 1;
  position: absolute;
  top: 40%;
  width: 100%;

  text-align: center;
  font-size: 60px;
  color: black;
  text-shadow: #fff 1px 1px 2px, #fff -1px 1px 2px, #fff 1px -1px 2px,
    #fff -1px -1px 2px;
}
/* ========================
    section - 事業内容(service)
  ======================== */
.service-container {
  display: flex;
  align-items: center;
  width: 80%;
  margin: 0 auto 100px;
}

.service-img {
  width: 50%;
  text-align: center;
}

.service-img img {
  height: 400px;
}

.service-contents {
  width: 50%;
  height: 400px;
  padding: 40px 0;
  text-align: center;
}

.service-title {
  padding-bottom: 40px;
  font-size: 30px;
  color: #31c5b9;
}

.service-contents p {
  padding-bottom: 50px;
  margin: 0 30px;
  text-align: left;
  font-size: 16px;
  line-height: 30px;
}

.service-contents a {
  display: block;
  width: 30%;
  margin: 0 auto;
  padding: 20px 0;
  border: solid 1px #31c5b9;
  font-size: 18px;
  color: #31c5b9;
  font-weight: bold;
}

.service-contents a:hover {
  color: #fff;
  background-color: #31c5b9;
}

.service-container:nth-child(odd) {
  flex-direction: row-reverse;
}

/* ========================
    section - 採用情報(employment)
  ======================== */
.employment-text {
  width: 70%;
  margin: 0 auto 100px;
  font-size: 25px;
  line-height: 45px;
}

.employment-table {
  width: 70%;
  margin: 0 auto 100px;
  font-size: 20px;
}

.employment-table thead th {
  background-color: #a4f5ee;
  padding: 40px 0;
  text-align: center;
}

.employment-table tbody th {
  padding-left: 20px;
}

.employment-table tbody td {
  padding: 30px;
}

.employment-table > thead > tr > th:first-child {
  width: 20%;
}
/* ========================
    section - 会社概要(company-information)
  ======================== */
.company-information dl {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 50%;
  margin: 0 auto 100px;
  font-size: 18px;
}

.company-information dt {
  padding: 35px 0;
  width: 40%;
}

.company-information dd {
  padding: 35px 0;
  width: 60%;
}
/* ========================
    footer
  ======================== */
footer {
  background: #31c5b9;
  color: #000000;
  font-weight: bold;
  padding: 100px 50px 50px;
}

.footer-left h2 {
  font-weight: bold;
  font-size: 35px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.footer-right > ul {
  display: flex;
}

.footer-right > ul > li {
  margin-right: 50px;
  text-align: center;
  font-size: 24px;
  line-height: 35px;
}

.footer-right > ul > li > ul {
  padding-left: 40px;
  text-align-last: left;
}

.footer-right > ul > li > ul > li {
  font-size: 15px;
  margin-top: 20px;
}

.footer-bottom {
  font-size: 15px;
  text-align: right;
}
